<aside class="w-64 bg-blue-900 text-white min-h-screen p-4 space-y-3">
    <div class="text-5xl font-bold tracking-wide text-center">
        Con<span class="text-yellow-400">Taxi</span>
    </div>
    <div class="text-5xl font-bold tracking-wide">
        <h1 class="text-xl font-semibold text-white text-center">
            {{ rol | titlecase }}
        </h1>
    </div>
    <hr />

    <ng-container *ngFor="let item of menu">
        <nav class="mt-4">
            <button (click)="item.open = !item.open" class="w-full flex items-center px-4 py-3 hover:bg-blue-800 transition">
        <i [class]="item.icon + ' mr-3'"></i>
        <span>{{ item.title }}</span>
        <i
          *ngIf="item.children"
          class="fa-solid fa-chevron-down ml-auto transition-transform"
          [class.rotate-180]="item.open"
        ></i>
      </button>

            <!-- Submenús -->
            <ul *ngIf="item.children && item.open" class="ml-6 mt-2 space-y-2">
                <li class="flex items-center px-4 py-3 hover:bg-blue-800 transition" *ngFor="let child of item.children">
                    <a [routerLink]="child.route" class="flex items-center">
                        <i [class]="child.icon + ' mr-2'"></i> {{ child.title }}
                    </a>
                </li>
            </ul>
        </nav>
    </ng-container>

    <button id="hamburger" class="lg:hidden p-4 text-white bg-gray-900 fixed top-4 left-4 rounded-lg shadow-lg">
    <i class="fas fa-bars"></i>
  </button>
</aside>