/* Sidebar toggle en dispositivos móviles */

#sidebar {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}


/* Mostrar el sidebar cuando el botón de hamburguesa es presionado */

#sidebar.show {
    transform: translateX(0);
}


/* Solo mostrar iconos en pantallas pequeñas */

@media (max-width: 1024px) {
    #sidebar {
        width: 4rem;
        /* Solo muestra iconos */
    }
    #sidebar .lg\\:block {
        display: none;
        /* Ocultar textos en pantallas pequeñas */
    }
}


/* Botón de hamburguesa */

#hamburger {
    transition: transform 0.3s ease;
}
