@import "leaflet/dist/leaflet.css";
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #4CAF50;
    /* Verde */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-weight: bold;
}

.mensaje {
    color: green;
    font-weight: bold;
}
